

.main-divider {
    display: flex;
    width: 100%;
    /*background-color: green;*/
    padding: 1rem 1rem;
    position: relative;
    margin-left: auto;
}

.right-part {
    position: fixed;
    right: 0;
    width: 25%;
    max-width: 300px;
    
    margin-right: 10px;
}

.left-part {
    min-width: calc(100% - 300px);
    width: 70%;
    padding: 1rem;
}
@media (min-width: 576px) {
    .right-part
    {
        margin-right: 30px;
    }
}
@media (min-width: 768px) {
    .right-part
    {
        margin-right: 40px;
    }
}
@media (min-width: 992px) {
    .right-part
    {
        margin-right: 40px;
    }
}
@media (min-width: 1200px) {
    .right-part
    {
        margin-right: 40px;
    }
}
@media (min-width: 1400px) {
    .right-part 
    {
        margin-right: 40px;
    }
}

@media (min-width: 1500px) {
    .right-part
    {
        margin-right: 150px;
    }
}

.User-header-grid {
    display: grid;
    grid-template-columns: 8rem calc(100% - 5rem);
}

.user-header-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0a53be;
}

.messages-header {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 2rem;
    color: #4f5050;    
}

.sent-message {
    font-size: 1.2rem;
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 5px;
    border: 3px double gray;
}

.my-send-button
{
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    height: 2rem;
    width: 15rem;

    background-color: #0a53be;
    background-image: url("/Resources/send_image_2.png");
    background-size: 1.8rem 1.4rem;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 0.1rem;
    
    border: 3px #cccccc double;
    font-size: 1rem;
    text-align: left;
    padding-left: 0.5rem;
    font-weight: bold;
    color: #4aa212;
    
    cursor: pointer;
    transition: background-color 0.5s linear, background-position 0.5s linear;
}

.my-send-button:hover {
    background-color: hsl(216, 90%, 25%);
    background-position-x: 100%;
    transition: background-color 0.5s linear, background-position 0.5s linear;
}

.recipient-label {
    height: 2rem;
    font-weight: bold;
    width: 15rem;
    border-radius: 5px;
    border: 3px double gray;
    padding-left: 4px;
    box-sizing: border-box;
}

.photo {
    position: relative;
    margin-bottom: 2rem;
    width: 100%
}

.photo::after {
    content: "";
    width: 110%;
    height: 110%;
    background-image: url("/Resources/Photo_Frame.png");
    background-repeat: no-repeat;
    background-size: cover ;
    
    position: absolute;
    left: -5%;
    top: -5%;
}

.my-button {
    cursor: pointer;

    border-radius: 10px;
    height: 2.8rem;
    background-color: #0a53be;

    border: 3px #cccccc double;
    font-size: 1.3rem;
    font-weight: bold;
    color: #4aa212;
    
    text-align: center;
    
    transition: background-color 0.5s linear, background-position 0.5s linear;
}

.my-apply-button {
    cursor: pointer;

    margin-top: 1rem;
    border-radius: 10px;
    height: 3.8rem;
    width: 8rem;
    margin-left: auto;

    background-color: #0a53be;

    border: 3px #cccccc double;
    font-size: 1.4rem;
    font-weight: bold;
    color: #4aa212;

    padding-top: 1rem;
    text-align: center;

    transition: background-color 0.5s linear, background-position 0.5s linear;
    
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}